body, html {
    margin: 0;
    padding: 0;
    color: #4d4d4d;
    font-family: "Lato", sans-serif;
    position: relative;
}

h2, h3, h4, h5, h6 {
    text-align: left;
}

h2 {
    color: #8c6940;
}

a {
    color: #897043;
    text-decoration: none;
    transition: color 0.175s ease-in-out
}

a:hover {
    color: #bfa87d;
    text-align: none;
}

.container {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: left; 
}

#text {
    font-family: 'Courier New', Courier, monospace;
}

body::after, html::after {
    content: "";
    background-image: linear-gradient(rgba(242, 231, 215, 0.8), rgba(242, 231, 215, 0.8)), url('parchment.jpeg');
    background-size: auto; /* Reset to default value */
    background-repeat: repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


header {
    position: fixed;
    top: 0;
    z-index: 999;
}

.banner {
    position: relative;
    width: 100vw;
    padding: 1.5em;
    color: #252525;
    background-color: #bfa87d;
    text-align: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, #9b7346 0%, #af8350 50%, #9b7346 100%);
}

.wrapper {
    margin: 4em;
    padding-top: 5em;
}

section {
    padding: 1em 9em 1em 0;
    scroll-margin-top: 125px;
    align-items: center;
}

#footer ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#footer li {
    color:#212529;
    opacity: 0.7;
}

#footer li a {
    color:inherit;
    text-decoration: inherit;
}

#footer li a:hover {
    color:#bfa87d;
}

button.feedback {
  background-color: #bfa87d;
  border: 0.5px solid transparent;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  transition: background-color 0.35s ease-in-out;
  vertical-align: middle;
  margin-right: 1em;
}

button.feedback:hover {
    background-color: #a78f6a;
}


label {
    margin-bottom: 0.5em;
    width: 14em;
}

input {
    margin-bottom: 1em;
    background-color: #f7f3ee;
    width: 12.5em;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0 !important;
    justify-content: flex-start;
}

#message {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 1em;
    color: red;
}

.btn {
    color: #4d4d4d;
    margin-top: 1em;
    margin-right: 1em;
    background-color: #d1b889;
    border-color: #3a3325;
    width: 5em;
}

.btn:hover, .btn:active {
    color: #4d4d4d;
    margin-top: 1em;
    background-color: #bfa87d;
    border-color: #3a3325;
}