<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="/static/styles.css" rel="stylesheet">
        <title>My Project</title>
        <script>
            let lastRenderedText = '';
            let stopRequested = false;

            document.addEventListener("DOMContentLoaded", function() {
                const form = document.getElementById("parameters")
                form.addEventListener("submit", function(event){
                    // Disable the submit button until text finished generating
                    const submitButton = document.getElementById('submitBtn');
                    submitButton.disabled = true;

                    // Delete any existing text and reset variables
                    resetInnerHTML('text', 'selected_order', 'selected_book')
                    lastRenderedText = ''
                    stopRequested = false;

                    // Give app.py 1 second to start generating text then fetch it
                    setTimeout(fetchText, 1000);
                });
            })

            function resetInnerHTML(...elementIds) {
                elementIds.forEach(id => {
                    document.getElementById(id).innerHTML = '';
                });
            }

            async function fetchText() {
                const response = await fetch('/fetch_generated_text');
                const data = await response.json();
                const currentText = data.generated_text;
                console.log(currentText)

                document.getElementById('selected_book').innerHTML = 'Book ' + data.book
                document.getElementById('selected_order').innerHTML = 'Order ' + data.order

                if (currentText.length > lastRenderedText.length) {
                    await renderNewWords(lastRenderedText, currentText);
                    lastRenderedText = currentText;
                }

                // If app.py still generating text, wait 500ms then fetch the updated sentence
                if (!data.finished_generating) {
                    setTimeout(fetchText, 500);
                }

                // Otherwise, text completion is finished and submit button can be enabled again
                else {
                    const submitButton = document.getElementById('submitBtn');
                    submitButton.disabled = false;
                }
            }

            async function renderNewWords(oldText, newText) {
                    const textElement = document.getElementById('text');
                    const newWords = newText.slice(oldText.length);
                    await typeText(textElement, newWords);
            }

            async function typeText(element, text, index = 0) {
                // Render the text letter by letter
                for (const char of text) {
                    if (stopRequested) return
                    element.innerHTML += char;
                    await delay(50) // Control typing speed
                }
            }

            function delay(ms) {
                return new Promise(resolve => setTimeout(resolve, ms))
            }

            function stopGeneratingWords() {
                // Make a GET request to the Flask app to stop generating words
                stopRequested = true;
                fetch('/stop_generating_words', {
                    method: 'GET',
                })
            }

            window.addEventListener('beforeunload', (event) => {
                // Send a beacon to the Flask app to stop generating and reset words whenever page is refreshed
                navigator.sendBeacon('/reset_words');
            });            
        </script>
    </head>
    <body>
        <header>
            <div class="banner">
                <h1>The Library of Shannon</h1>
            </div>
        </header>

        <div class="wrapper">
            <div class="main">
                {% block main %}{% endblock %}
            </div>
            <section id="footer">
                <div class="container">
                    <ul>
                        <li>© Tom Childs. All rights reserved. <a href="index.html">Return to landing Page.</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </body>
</html>